*{
    outline: 3px solid gol;
}


body{
    background-image: url(./img/s-l1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    background-color: tan;
    width: 300px;
    padding-bottom: 40px;
    height: 50px;
    align-items: center;
    float: bottom;
    margin: auto;
    outline: 10px solid crimson;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}

h1{
    text-align: center;  
}

form{
    text-align: center;  
}

.description{
    background-color: tan;
    height: 224px;
    padding-top: 20px;
    width: 300px;
    float: top;
    margin: auto;
    margin-top: 40px;
    margin-bottom:40px;
    outline: 10px solid crimson;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    overflow: hidden;
}


.Search-Key{
    background-color: blueviolet;
}

.imageContainer{
    width: 300px;
    height: 410px;
    background-color: tan;
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    outline: 10px solid black;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    overflow: hidden;
}

.imageContainer > div{
    outline: 1px solid black;
}

.imageContainer > b{
    outline: 1px solid black;
}

input{
    background-color: crimson;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;

}

input:hover{
    background-color:tan;
    color: white;
    cursor: pointer;
}

.imageContainer > img{
    margin: auto;
    margin-right: 2px 20px;
}

p{
    text-align: center;
    font-style: oblique;
}

.imgclass{
    width: 100px;
    height: 100px;
}

.imgclass img{
    display: block;
    width: 20%;
}

.logo{
    height: 275px;
    width: 275px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    outline: 10px solid black;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}